# Vehicle accident casualties in the UK (2019 - 2022)

This project explores vehicle accident casualties and fatalies in the UK from 2019 to 2022. The analysis looks into the environmental conditions in which these accidents occured and also visualise total casualties over time.

Importing the vehicle accidents dataset:

In [2]:
import pandas as pd

#importing vehicle accidents dataset csv file

vehicle_accident_data = pd.read_csv("accident_data.csv")

Quick overview of the dataset:

In [3]:
print(vehicle_accident_data.head())

           Index Accident_Severity Accident Date             Light_Conditions  \
0  200701BS64157           Serious     5/06/2019        Darkness - lights lit
1  200701BS65737           Serious     2/07/2019                     Daylight
2  200701BS66127           Serious    26/08/2019  Darkness - lighting unknown
3  200701BS66128           Serious    16/08/2019                     Daylight
4  200701BS66837            Slight     3/09/2019        Darkness - lights lit

            District Area  Number_of_Casualties  Number_of_Vehicles  \
0  Kensington and Chelsea                     1                   2
1  Kensington and Chelsea                     1                   2
2  Kensington and Chelsea                     1                   3
3  Kensington and Chelsea                     1                   4
4  Kensington and Chelsea                     1                   2

  Road_Surface_Conditions           Road_Type Urban_or_Rural_Area  \
0                     Dry  Single carriageway               Urban
1             Wet or damp  Single carriageway               Urban
2                     Dry                 NaN               Urban
3                     Dry  Single carriageway               Urban
4                     Dry                 NaN               Urban

      Weather_Conditions                          Vehicle_Type
0     Fine no high winds                                   Car
1  Raining no high winds                                   Car
2                    NaN                 Taxi/Private hire car
3     Fine no high winds  Bus or coach (17 or more pass seats)
4                    NaN                         Other vehicle

Reviewing the data types of each column in the dataset:

In [4]:
vehicle_accident_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Light_Conditions         660679 non-null  object
 4   District Area            660679 non-null  object
 5   Number_of_Casualties     660679 non-null  int64
 6   Number_of_Vehicles       660679 non-null  int64
 7   Road_Surface_Conditions  659953 non-null  object
 8   Road_Type                656159 non-null  object
 9   Urban_or_Rural_Area      660664 non-null  object
 10  Weather_Conditions       646525 non-null  object
 11  Vehicle_Type             660679 non-null  object
dtypes: int64(2), object(10)
memory usage: 60.5+ MB

# Second documentation
This is the second document text